$accent-color: #409AE4;
$gray-0-color: #bbb;

%type {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

body {
  @extend %type;
}

// Layout

.loader {
  margin: 10px;
}

.app {
  position: absolute;
  left: 0; right: 0; bottom: 0; top: 0;
  display: flex;
  flex-flow: column;

  main {
    display: block;
    flex: 2 auto;
    overflow: auto;
  }

  footer {
    flex: 0 24px;
    padding: 0 5px;
    line-height: 24px;
    //border-top: 1px solid #7a7a7a;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    font-size: 12px;
    background: #585858;
  }
}


table {
  border-collapse: collapse;
}

td {
  border: 1px solid lightgray;
  margin: 0;
  width: 80px;
  overflow-x: hidden;
  padding: 2px 2px;

  &.selected {
    position: relative;
    border: 1px double $accent-color;
  }

  &.editing {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  }

  &.value {
    text-align: right;
  }

  &.derived {
    color: $gray-0-color;
  }

  input {
    display: table-cell;
    width: 100%;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    @extend %type;
  }

  &:first-child {
    border: none;
    width: auto;
    padding: 0 2px;
    min-width: 20px;
    text-align: center;
    &.selected {
      font-weight: bold;
    }
  }

  &:not(:first-child) {
    min-width: 50px;
  }
}

th {
  font-weight: normal;
  padding: 2px 0;
  &.selected {
    font-weight: bold;
  }
}
